<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764299990808-bl7tqhmfgpkgqlrhbhveld8ihj728h0s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764299990808-bl7tqhmfgpkgqlrhbhveld8ihj728h0s</string>
	<key>API_KEY</key>
	<string>AIzaSyC3JKD2_nMVBo_YVcNGIU6iIgLwDBEiK6I</string>
	<key>GCM_SENDER_ID</key>
	<string>764299990808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learning.FlexComm</string>
	<key>PROJECT_ID</key>
	<string>customcomm-27270</string>
	<key>STORAGE_BUCKET</key>
	<string>customcomm-27270.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764299990808:ios:a0ebdf6c1298c53af9306d</string>
</dict>
</plist>